@model MCApp.Models.TDrink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TDrink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentDrinkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentDrinkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.NameIngredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.TypeSize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrinkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
